
  .tc{
      text-align: center;
  }
.box {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px 2em;
    overflow: auto;
    max-height: 60%;
  }
  
  .box :first-child {
      align-self: center;
  }
  .box div{
      border: 1px solid black;
      width: 80%;
      height: 400px;
      margin-left: auto;
      margin-right: auto;
  }
.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
table {
    width: 90%;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
  }
  .clr{
      background-color: #1976d2;
      color: black;
  }
  .red-clr{
    background-color: #e22b2b;
    color: black;
  }
  .tab-image{
      width: 30%;
  }

.mx-wid{
    max-width: 100px !important;
}
.photo-table .mat-header-cell{
    color: #1e1e1e;
    font-weight: 600;
    font-size: 14px;
}